<% flash.each do |key, value| %>
<div class="callout <%= key %>" data-closable>
  <button class="close-button" aria-label="Close alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
  <p><%= value %></p>
</div>
<% end %>